footer {
    .container-suscripcion {
        align-items: center;
        background-color: $color-principal;
        display: flex;
        justify-content: space-between;
        padding: 0.63rem;

        .suscripcion-1 {
            align-items: center;
            display: flex;
            gap: 0.63rem;
            justify-content: flex-start;
            padding-left: 0.90rem;

            h4 {
                color: $color-fondo-principal;
                font-size: 1.25rem;
                font-weight: 700;
            }
        }
       
        .suscripcion-2 {
            align-items: center;
            display: flex;
            gap: 0.63rem;
            justify-content: flex-end;
            padding-right: 2.31rem;

            .correo-suscripcion {
                background-color: $color-fondo-principal;
                border: 0rem;
                border-radius: 0.94rem;
                color: $color-letrita;
                font-size: 0,56rem;
                padding: 0.94rem;
                padding-right: 9.25rem;
            
            }
            
            .boton-suscribirme {
                background-color: $color-secundario;
                border: 0rem;
                border-radius: 0.94rem;
                color: $color-fondo-principal;
                font-weight: 700;
                padding: 0.75rem;
            } 
        }
    }



    .footer-container {
        align-items: center;
        background-color: $color-secundario;
        display: flex;
        justify-content: flex-end;
        padding: 1.44rem;

        .footer-iconos {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            justify-content: space-evenly;
            padding-left: 2.94rem;
            padding-right: 1.56rem;
        }

        .footer-datos {
            display: flex;
            flex-direction: column;
            gap: 3.25rem;
            font-weight: bold;
            padding-right: 49.10rem;

            h5 {
                color: $color-fondo-principal;  
                font-size: 1.25rem;  
                line-height: 1.44rem;
            }

            p {
                color: $color-boton-1; 
                font-size: 0.63rem;
                line-height: 0.75rem;
            }
        }

        .footer-logo {
            background-color: $color-secundario;
            font-weight: 700;

            .logofooter1 {
                color: $color-fondo-principal;
                font-size: 1.25rem;
            }
            
            .logofooter2 {
                color: $color-principal;
                font-size: 1.25rem;
            }
        }
    }
    
    .footer-abajo {
        align-items: center;
        background-color: $color-fondo-secundario; 
        display: flex;
        justify-content: center;
        padding: 0.3rem;

        p {
            color: $color-fondo-principal;
            font-size: 0.73rem;
            font-weight: 700;
        }
    }
}