footer {
    .container-suscripcion {
        align-items: center;
        background-color: $color-principal;
        display: flex;
        justify-content: space-between;
        padding: 0.63rem;

        .suscripcion-1 {
            align-items: center;
            display: flex;
            gap: 0.63rem;
            justify-content: flex-start;
            padding-left: 0.90rem;

            h4 {
                color: $color-fondo-principal;
                font-size: 1.25rem;
                font-weight: 700;
            }
        }
       
        .suscripcion-2 {
            align-items: center;
            display: flex;
            gap: 0.63rem;
            justify-content: flex-end;
            padding-right: 2.31rem;

            .correo-suscripcion {
                background-color: $color-fondo-principal;
                border: 0rem;
                border-radius: 0.94rem;
                color: $color-letrita;
                font-size: 0,56rem;
                padding: 0.94rem;
                padding-right: 9.25rem;
            
            }
            
            .boton-suscribirme {
                background-color: $color-secundario;
                border: 0rem;
                border-radius: 0.94rem;
                color: $color-fondo-principal;
                font-weight: 700;
                padding: 0.75rem;
            } 
        }
    }
}