
.container-suscripcion {
    align-items: center;
    background-color: $color-principal;
    display: flex;
    height: 60px;
    padding-left: 23px;
    top: 11449px;
}

.suscripcion-1 {
    color: #FFFFFF;
    font-size: 1,25rem;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 270px;
}

.suscripcion-2 {
    background-color: #FFFFFF;
    border-radius: 15px;
    color:#A0A0A0;
    font-size: 0,56rem;
    margin-left: 270px;
    padding: 14px 148px 15px 8px;

}

.boton-suscribirme {
    background-color: #3C2313;
    border-radius: 15px;
    color:#FFFFFF;
    margin-left: 5px;
    margin-right: 47px;
    padding: 12px;
}