header {
    nav {
        .container {
            align-items: center;
            background-color: $color-fondo-secundario;
            color: $color-letras;
            display: flex;
            font-weight: 400;
            justify-content: space-between;
            padding: 0.25rem;
            padding-left: 5.63rem;
            padding-right: 3.75rem;

            .menu-1 {
                display: flex;
                list-style-type: none;

                li {
                    a {
                        font-weight: 400;
                        padding-left: 1.25rem;
                    }
                }
            }
        }

        .logo {
            align-items: center;
            background-color: $color-principal;
            color: $color-fondo-principal;
            display: flex;
            justify-content: space-between;

            h1 {
                align-items: center;
                color: $color-letras;
                display: flex;
                font-size: 1.25rem;
                font-weight: 700;
                justify-content: flex-start;
                padding: 1.25rem;
                padding-left: 2.69rem;

                .logo1 {
                    color: $color-secundario;
                }

                .logo2 {
                    color: $color-fondo-principal;
                }
            }

            ul {
                display: flex;
                padding-right: 2.5rem;
                
                li {
                    list-style-type: none;

                    img {
                        font-size: 0.81rem;
                        font-weight: 400;
                        line-height: 1rem;
                        padding-left: 1.25rem;
                    }
                }
            }
        }
    }
}