$color-principal: #F0A83E; 
$color-letras: #F3F3F3;
$color-letrita: #666666;
$color-fondo-principal:#FFFFFF;
$color-fondo-secundario:#222222;
$color-secundario: #3C2313;
$color-fondo-productos: #FBFAF6;
