@import "variables";
@import "base";
@import "header";
@import "main";
@import "footer";




/* FOOTER SECTOR DATOS DE LA EMPRESA */

.footer-container {
    position: relative;
}

.footer-datos {
    background-color:#3C2313;
    height: 350px;
    padding-bottom: 50px;
    padding-left: 70px;
    padding-top: 20px;
}

.footer-datos p {
    color:#8A8787; 
    font-size: 0,63rem;
    font-style: normal;
    font-weight: bold;
    line-height: 12px;
    padding-left: 91px;
}

.footer-localidad div, .footer-telefono div, .footer-correo div {
    color: #FFFFFF;  
    font-size: 1,25rem;
    font-style: normal;
    font-weight: bold;
    padding-left: 91px;
}

.footer-logo {
    background-color: #3C2313;
    bottom: 160px;
    left: 1100px;
    position: absolute;
}

.logofooter1 {
    color: #FFFFFF;
    font-weight: normal;
    font-style: normal;
    font-size: 1,25rem;
}

.logofooter2 {
    color: #F0A83E;
    font-size: 1,25rem;
    font-style: normal;
    font-weight: normal;
}

.footer-abajo {
    align-items: center;
    background-color: #222222; 
    display: flex;
    justify-content: center;
    padding: 0.3rem;
}

.footer-abajo p {
    color:#FFFFFF;
    font-size: 0,94rem;
    font-style: normal;
    font-weight: bold;
}

/*                         Fin FOOTER                       */

