@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a:link,
a:visited {
  color: #F3F3F3;
}

header nav .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222222;
  color: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.25rem;
  padding-left: 5.63rem;
  padding-right: 3.75rem;
}

header nav .menu-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

header nav .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F0A83E;
  color: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.25rem;
  padding-left: 2.69rem;
}

header nav .logo1 {
  color: #3C2313;
  font-weight: 700;
  font-size: 1,25rem;
}

header nav .logo2 {
  color: #FFFFFF;
  font-size: 1,25rem;
  font-weight: 700;
}

header nav .menu-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0,81rem;
  font-weight: 400;
  list-style-type: none;
}

header nav li {
  padding-left: 1.25rem;
}

main .superior {
  background-image: url("../img/Imagen-Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 34.38rem;
}

main .heroe {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 34.38rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main h2 {
  background-color: #FFFFFF;
  border-radius: 0.31rem;
  color: #3C2313;
  font-size: 1.88rem;
  font-weight: 400;
  margin-right: 0.75rem;
  padding: 0.63rem;
  text-align: center;
}

main .texto-comederos {
  color: #3C2313;
  font-size: 1rem;
  font-weight: 400;
  padding-right: 5.94rem;
  padding-top: 0.75rem;
}

main .boton-comederos {
  background-color: #F0A83E;
  border-radius: 0.31rem;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 400;
  margin-right: 7.31rem;
  margin-top: 0.75rem;
  padding: 0.94rem 1.44rem;
}

main h3 {
  color: #3C2313;
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 0.44rem;
}

main .productos-dest {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

main .productos-dest .subtitulos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.94rem;
  font-weight: 400;
  gap: 0.81rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.10rem;
  padding-top: 1.25rem;
}

main .productos {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.37rem;
  padding-top: 2.5rem;
}

main .productos .producto1, main .productos .producto2, main .productos .producto3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FBFAF6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 0.5rem;
}

main .productos .producto1 .precio-producto, main .productos .producto1 .nombre-producto, main .productos .producto2 .precio-producto, main .productos .producto2 .nombre-producto, main .productos .producto3 .precio-producto, main .productos .producto3 .nombre-producto {
  font-size: 1.1rem;
  font-weight: 500;
}

main .productos .producto1 .precio-producto, main .productos .producto2 .precio-producto, main .productos .producto3 .precio-producto {
  color: #F0A83E;
}

main .productos .producto1 .nombre-producto, main .productos .producto2 .nombre-producto, main .productos .producto3 .nombre-producto {
  color: #3C2313;
}

main .contactanos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .contactanos .container-contactanos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30rem;
  padding-top: 5.34rem;
}

main .contactanos .container-contactanos h4 {
  color: #3C2313;
  font-size: 1.56rem;
  font-weight: 700;
  padding-bottom: 1.25rem;
}

main .contactanos .container-contactanos form .form-datos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.63rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .contactanos .container-contactanos form .form-datos ::-webkit-input-placeholder {
  color: #FFFFFF;
  font-size: 0.8rem;
  opacity: 1;
}

main .contactanos .container-contactanos form .form-datos :-ms-input-placeholder {
  color: #FFFFFF;
  font-size: 0.8rem;
  opacity: 1;
}

main .contactanos .container-contactanos form .form-datos ::-ms-input-placeholder {
  color: #FFFFFF;
  font-size: 0.8rem;
  opacity: 1;
}

main .contactanos .container-contactanos form .form-datos ::placeholder {
  color: #FFFFFF;
  font-size: 0.8rem;
  opacity: 1;
}

main .contactanos .container-contactanos form .nombre, main .contactanos .container-contactanos form .email, main .contactanos .container-contactanos form .telefono {
  background-color: #3C2313;
  border: 0rem;
  border-radius: 0.94rem;
  color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: 400;
  outline: 0;
  padding: 0.94rem;
  padding-right: 10rem;
}

main .contactanos .container-contactanos .form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2.56rem;
  gap: 0.63rem;
}

main .contactanos .container-contactanos .form-button .resetear {
  background-color: #8A8787;
  border: 0rem;
  border-radius: 0.94rem;
  color: #FFFFFF;
  outline: 0;
  padding: 0.5rem 1.56rem 0.5rem 1.56rem;
}

main .contactanos .container-contactanos .form-button .enviar {
  background-color: #F0A83E;
  border: 0rem;
  border-radius: 0.94rem;
  color: #FFFFFF;
  outline: 0;
  padding: 0.5rem 1.56rem 0.5rem 1.56rem;
  padding-right: 25px;
  padding-left: 25px;
}

footer .container-suscripcion {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F0A83E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.63rem;
}

footer .container-suscripcion .suscripcion-1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.63rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 0.90rem;
}

footer .container-suscripcion .suscripcion-1 h4 {
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 700;
}

footer .container-suscripcion .suscripcion-2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.63rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 2.31rem;
}

footer .container-suscripcion .suscripcion-2 .correo-suscripcion {
  background-color: #FFFFFF;
  border: 0rem;
  border-radius: 0.94rem;
  color: #666666;
  font-size: 0,56rem;
  padding: 0.94rem;
  padding-right: 9.25rem;
}

footer .container-suscripcion .suscripcion-2 .boton-suscribirme {
  background-color: #3C2313;
  border: 0rem;
  border-radius: 0.94rem;
  color: #FFFFFF;
  font-weight: 700;
  padding: 0.75rem;
}

/* FOOTER SECTOR DATOS DE LA EMPRESA */
.footer-container {
  position: relative;
}

.footer-datos {
  background-color: #3C2313;
  height: 350px;
  padding-bottom: 50px;
  padding-left: 70px;
  padding-top: 20px;
}

.footer-datos p {
  color: #8A8787;
  font-size: 0,63rem;
  font-style: normal;
  font-weight: bold;
  line-height: 12px;
  padding-left: 91px;
}

.footer-localidad div, .footer-telefono div, .footer-correo div {
  color: #FFFFFF;
  font-size: 1,25rem;
  font-style: normal;
  font-weight: bold;
  padding-left: 91px;
}

.footer-logo {
  background-color: #3C2313;
  bottom: 160px;
  left: 1100px;
  position: absolute;
}

.logofooter1 {
  color: #FFFFFF;
  font-weight: normal;
  font-style: normal;
  font-size: 1,25rem;
}

.logofooter2 {
  color: #F0A83E;
  font-size: 1,25rem;
  font-style: normal;
  font-weight: normal;
}

.footer-abajo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.3rem;
}

.footer-abajo p {
  color: #FFFFFF;
  font-size: 0,94rem;
  font-style: normal;
  font-weight: bold;
}

/*                         Fin FOOTER                       */
/*# sourceMappingURL=style.css.map */